{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-nullish-coalescing-operator",
    "@babel/plugin-proposal-optional-chaining"
  ],
  "env": {
    "development": {
      "plugins": [
        [
          "react-transform", {
          "transforms": [
            {
              "transform": "react-transform-hmr",
              "imports": ["react"],
              "locals": ["module"]
            },
            {
              "transform": "react-transform-catch-errors",
              "imports": [
                "react",
                "redbox-react"
              ]
            }
          ]
        }
        ]
      ]
    },
    "production": {
      "plugins": [
      ]
    },
    "test": {
      "plugins": [
      ]
    }
  }
}
