{
  "presets": ["@babel/preset-env", "@babel/preset-react"],
  "plugins": ["@babel/plugin-proposal-class-properties"],
  "env": {
    "development": {
    },
    "production": {
      "plugins": [
      ]
    },
    "test": {
      "plugins": [
      ]
    }
  }
}
