{
  "root": true,
  "extends": "airbnb",
  "env": {
    "browser": true,
    "mocha": true,
    "node": true,
    "es6": true
  },
  "globals" : {
    __DEV_TOOLS__: true
  },
  "parser": "babel-eslint",
  "rules": {
    "no-console": 2,
    "new-cap": 0,
    "no-underscore-dangle": 0,
    "no-warning-comments": [2, { "terms": ["todo", "fixme", "xxx", "to do", "to-do", "to fix"], "location": "anywhere" }],
    "valid-jsdoc": 2,
    "max-len": [2, 120, 2, {"ignoreUrls": true}],
    "prefer-template": 0,
    "react/jsx-uses-react": 2,
    "react/jsx-uses-vars": 2,
    "react/react-in-jsx-scope": 2,
    "comma-dangle": [2, "never"],
    "id-length": 0,
    "no-param-reassign": [2, {"props": false}],
    "arrow-body-style": 0,
    "react/prefer-stateless-function": 0,
    "react/prefer-es6-class": 0,
    "react/jsx-filename-extension": 0,
    "object-curly-newline": 0,
    "import/order": 0,
    "operator-linebreak": 0,
    "import/prefer-default-export": 0,
    "prefer-destructuring": 0,
    "no-restricted-globals": 0,
    "no-bitwise": 0,
    "no-plusplus": 0,
    "import/first": 0,
    "react/require-default-props": 0,
    "import/newline-after-import": 0,
    "react/forbid-prop-types": 0,
    "implicit-arrow-linebreak": 0,
    "react/jsx-wrap-multilines": 0,
    "react/jsx-max-props-per-line": 0,
    "function-paren-newline": 0,
    "react/jsx-one-expression-per-line": 0,
    "react/no-array-index-key": 0,
    "import/extensions": 0,
    "jsx-a11y/click-events-have-key-events": 0,
    "jsx-a11y/no-static-element-interactions": 0,
    "react/jsx-no-bind": [2,
      {
        "ignoreRefs": true,
        "allowArrowFunctions": true,
        "allowBind": true // Should be changed to false after moving to ES7 decorator approach
      }
    ]
  },
  "plugins": [
    "react"
  ]
}
