# OS temp files
.DS_Store
thumb.db

# node_modules
node_modules/

# config files
# /config/index.js

# Log files
/*.log

# Dist
/dist
/out

# IDEA
.idea

# Tests
/coverage

webpack-assets.json
package-lock.json

reportsServer
reportsServer-macos
reportsServer-win.exe
