.section-line-chart {
  flex: 1;
  padding-bottom: 20px; // make up for the x-axis labels angle

  svg:not(:root) {
    &.recharts-surface {
      overflow: visible;
    }
  }

  .recharts-legend-wrapper {
    left: 0 !important;
    width: 100% !important;
    margin-top: -5px;
    overflow: hidden;
  }
}
