.section-bar-chart {
  line {
    display: none;
  }
  .recharts-legend-wrapper {
    left: 0 !important;
    width: 100% !important;
    overflow: hidden;
  }
}
.section-column-chart {
  .recharts-legend-wrapper {
    right: 0 !important;
  }
}