.section-line-chart {
  flex: 1;
  align-items: baseline;
  display: flex;

  svg:not(:root) {
    &.recharts-surface {
      overflow: visible;
    }
  }

  .recharts-legend-wrapper {
    left: 0 !important;
    width: 100% !important;
    margin-top: -5px;
    overflow: hidden;
  }
}
