@import (reference) "../../css/variables";

.items-section {
  margin: auto;
  width: 100%;
  height: 100%;

  .section-description {
    padding: 0 6px 5px;
  }

  .section-item {
    display: flex;
    flex-direction: column;
    height: auto;
    min-height: 50px;

    .section-item-header {
      text-transform: capitalize;
    }

    &.card {
      .section-item-header {
        padding-bottom: 6px;
        word-break: break-word;
      }
    }

    &.row {
      min-height: 24px;
      flex-direction: row;
      justify-content: space-between;
      border-bottom: 1px solid rgba(137, 165, 193, 0.2);
      padding: 10px 0;

      .section-item-header {
        width: 31%;
        word-break: break-word;
        margin-right: 8px;
      }

      &:last-child {
        border-bottom: none;
        padding-bottom: 0;
      }
    }

    .section-item-value {
      flex: 1;
      white-space: pre-line;
      word-break: break-word;
    }
  }

  &.cards-container {
    .section-item {
      &.card {
        &:not(.first-column) {
          padding-left: 15px;
        }

        &:not(.last-column) {
          padding-right: 15px;
        }

        &:not(.last-row) {
          padding-bottom: 30px;
        }
      }
    }
  }
}
