.section-table {
  overflow-x: scroll;

  ::-webkit-scrollbar {
    display: none;
    width: 0;
    height: 0;
  }

  thead {
    th {
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}