.section-number {
  text-align: center;
  margin: auto;
  width: 100%;
  height: 100%;
  &.no-custom-background {
  }
  .number-container {
    position: relative;
    top: 50%;
    transform: perspective(1px) translateY(-50%);
    .trend-num-text {
      font-size: 26px;
      display: inline-block;
      vertical-align: middle;
      margin-top: -8px;
    }

    .trend-container {
      display: inline-block;
      margin-left: 5px;
      .trend-box {
        border-radius: 100px;
        padding: 3px 10px 3px 5px;
        background-color: #FFF;
        color: #555555;
        box-shadow: inset 0 1px 0 0 rgba(255, 255, 255, 0.13), 0 4px 5px 0 rgba(0, 0, 0, 0.1);

        &.grey {
          .trend-equal {
            color: #FFF !important;
          }
          color: #FFF !important;
          background-color: #B1B1B1;
        }
        &.red {
          color: #FFF;
          background-color: #FF1B15;
        }
        &.green {
          color: #FFF;
          background-color: #00CD33;
        }

        .trend-equal {
          font-size: 14px;
          color: #979797;
          margin: 0 9px 0 3px
        }
      }
    }
    .trend-message {
      text-align: center;
      margin-top: 10px;
      padding: 0 7px;
      font-size: 18px;
    }

    .icon {
      padding-top: 3px;
      margin-right: 3px;
    }
  }
}