.section-list {
  .list-item {
    display: flex !important;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    margin: 5px 10px !important;
    .right-list-value {
      margin-right: 5px;
    }
    .left-list-value {
      margin: 0 !important;
    }
    .content:last-child {
      flex: 1;
      text-align: center;
    }
  }
}