@import (reference) "../../css/variables";

.widget-empty-state {
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;

  .icon-status-noresults-24-r {
    background: @icon-status-noresults-24-r;
    width: 19px;
    height: 19px;
  }

  .widget-empty-state-text {
    padding: 10px 0;
  }
}
