@import (reference) "../../css/variables";

.widget-empty-state {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100%;

  .icon-status-noresults-24-r {
    background: @icon-status-noresults-24-r;
    width: 19px;
    height: 19px;
    margin-top: 10px;
  }

  .widget-empty-state-text {
    font-size: 14px;
    color: @color-description;
    margin: 10px 0;
  }
}
