@import (reference) "../../css/variables";

* {
  font-family: @font-family-base;
}

body {
  background-color: @main-background-color;
  color: @font-color-base;
  font-family: @font-family-base;
}

.report-layout {
  margin: @content-margin-top @content-margin-right @content-margin-bottom @content-margin-left;

  .report-row {
  }

  .report-section {
  }
}