/** Fonts **/
@font-face {
  font-family: 'Source Sans Pro';
  src: url('../../../sane-reports/assets/fonts/SourceSansPro-Regular.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro ExtraLight';
  src: url('../../../sane-reports/assets/fonts/SourceSansPro-ExtraLight.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro Light';
  src: url('../../../sane-reports/assets/fonts/SourceSansPro-Light.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro SemiBold';
  src: url('../../../sane-reports/assets/fonts/SourceSansPro-SemiBold.ttf') format('truetype')
}
@font-face {
  font-family: 'Source Sans Pro Bold';
  src: url('../../../sane-reports/assets/fonts/SourceSansPro-Bold.ttf') format('truetype')
}

@images-folder:                 '../../../sane-reports/assets/images';

/** Fonts **/
@font-family-source-sans-pro:                 "Source Sans Pro";
@font-family-source-sans-pro-extra-light:     "Source Sans Pro ExtraLight";
@font-family-source-sans-pro-light:           "Source Sans Pro Light";
@font-family-source-sans-pro-semi-bold:       "Source Sans Pro SemiBold";
@font-family-source-sans-pro-bold:            "Source Sans Pro Bold";
@font-family-base:                            @font-family-source-sans-pro;
@font-color-base:                             #555555;
@font-size-header:                            28px;
@font-size-h1:                                24px;
@font-size-h2:                                20px;
@font-size-h3:                                16px;
@font-size-h4:                                14px;
@font-size-h5:                                12px;

@font-title-weight:                           700;

/** Layout **/
@content-margin-top:                    0;
@content-margin-right:                  20px;
@content-margin-bottom:                 0;
@content-margin-left:                   20px;

/** colors **/
@main-background-color:                 #fcfcfc;
@brand-color:                           #618081;
@brand-color-dark:                      #435c5d;
@brand-second-color:                    #f2ae31;
@color-text:                            rgb(64, 65, 66);
@color-description:                     rgba(64, 65, 66, 0.7);

@icon-status-noresults-24-r: data-uri('@{images-folder}/status-noresults-24-r.svg') no-repeat center;
